<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="310bI_TDC_igl2-0FenkGaUr0kEyFNhgWtY6n6JYEX8">
    <title>Christian Reuter</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="container">
      <%= partial "site_nav" %>
      <%= yield %>
    </div>
    <%= partial "site_footer" %>
    <%= partial "partials/analytics" %>
  </body>
</html>
