<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "main" %>
    <script src="https://use.typekit.net/xxo2eza.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <%= current_link_to "Home", "/", class: "site-nav__link" %>
        </li>
        <li class="site-nav__item">
          <%= current_link_to "Blog", "/blog/", class: "site-nav__link" %>
        </li>
      </ul>
    </nav>
    <%= yield %>
    <%= partial "partials/analytics" %>
  </body>
</html>
