<p>Some recent talks include&hellip;</p>
<ol class="talks">
  <%= partial(:talk, locals: {
    title: "DIY Design Sprints",
    description: "A how-to guide on running a design sprint",
    location: "The Iron Yard Raleigh",
    date: "June 2016"
  }) %>
  <%= partial(:talk, locals: {
    title: "Usability Heuristincs",
    description: "Jakob Nielsen's 10 general principles for interaction design",
    location: "The Iron Yard Raleigh",
    date: "May 2016"
  }) %>
  <%= partial(:talk, locals: {
    title: "Blurred Lines",
    description: "A Technical Overview of Startups for Non-Technical Founders",
    location: "Georgetown MBA Entrepeneurship Club",
    date: "March 2016"
  }) %>
  <%= partial(:talk, locals: {
    title: "What about Ember?",
    description: "Criteria for evaluating JavaScript frameworks",
    location: "The Iron Yard Durham",
    date: "March 2016"
  }) %>
  <%= partial(:talk, locals: {
    title: "Divergent Thinking",
    description: "A lightning talk on creativity",
    location: "Refresh the Triangle",
    date: "October 2015"
  }) %>
  <%= partial(:talk, locals: {
    title: "An introduction to the Bourbon suite",
    description: "An introduction to the Bourbon suite",
    location: "Stacked",
    date: "October 2014"
  }) %>
  <%= partial(:talk, locals: {
    title: "Design for Developers",
    description: "A day-long workshop on the language and practice of visual design",
    location: "American Underground",
    date: "October 2014"
  }) %>
</ol>
